//- svg sprite mixin
mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="#icon-" + name)

mixin link(path)
	link(rel="stylesheet", href=path+".css")

mixin script(path)
	script(src=path)

mixin body()
	body
		.body-wrapper
			block content
				header.header
				main
				footer.footer
		block scripts
			//- +script("libs/jquery-2.2.1.min.js")
			//- +script("libs/slick.min.js")
			//- +script("libs/jquery-ui.min.js")
			//- +script("libs/jquery.magnific-popup.min.js")
			+script("js/libs.min.js")
			+script("js/common.js")
		block customScripts

mixin catalogue_item(img,desc)
	li.catalogue-main__item(style="background-image: url(img/" + img + ".jpg)")
		a(href="#").catalogue-main__link
		span.catalogue-main__item-desc #{desc}
		span.catalogue-main__item-more Подробнее

mixin barriers_item(img,label,desc)
	li.barriers__item(style="background-image: url(img/" + img + ".jpg)")
		a(href="#").barriers__item-link
			span.barriers__item-label #{label}
			span.barriers__item-desc #{desc}
		
mixin breadcrumbs(text)
	a(href="#").breadcrumbs__link.desktop #{text}


mixin blogItem()
	li.blog-page__item
		a(href="#").blog-page__link
		.blog-page__item-wrapper
			h3.blog-page__item-header Как правильно выбрать забор?
			p.blog-page__item-text Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития нашей деятельности позволяет оценить значение дальнейших направлений развития
			a(href="#").blog-page__item-link Читать далее

mixin recentItem(text)
	li.recent-viewed__item
		figure.recent-viewed__figure
			span.recent-viewed__item-more Подробнее
			a.recent-viewed__link(href="#")
			img(src="img/recent.jpg", alt="")
			figcaption.recent-viewed__caption
				p #{text}

			



